body { 
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    display: grid;
    grid-template-columns: [inicio] 1fr[Linea2] 1fr[Linea3] 1fr[finprincipal] 1fr[Linea5] 1fr[finsecundario] 1fr[Linea7] 1fr [fin];
    grid-template-rows: [inicio] 200px [linea2] 200px [fin];

grid-gap: 5px ;
height: 100vh;
grid-auto-flow: column;
grid-auto-columns: 50px 150px;
}

    

.item {
    /* background-color: grey; */
    padding: 10px;
    border: solid red 1px;
    /* margin: 10px; */
   
}

.item:nth-of-type(1) {
    background-color: lightblue;
    overflow: auto;
    display: grid;
   grid-column: inicio / finprincipal;
    grid-row: inicio/ fin;
}

.item:nth-of-type(2) {
    background-color: lightblue;
    overflow: auto;
    display: grid;
   grid-column: finprincipal / finsecundario;
   grid-row: inicio/ fin;

}

.item:nth-of-type(3) {
    background-color: lightblue;
    overflow: auto;
    display: grid;
   grid-column:finsecundario / fin

}

.item:nth-of-type(4) {
    background-color: lightblue;
}


.item:nth-of-type(5) {
    background-color: lightblue;
}

.itemImp {
    background-color: green;
    padding: 10px;
    border: solid red 1px;
}