body { 
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    display: grid;
/* grid-template-columns: 200px 300px 200px;
grid-template-rows: 100px 200px; */
grid-template: 100px 30% / 50% 300px 200px;

}

.item {
    background-color: grey;
    padding: 10px;
    border: solid red 1px;
}