/* font-family: 'Lato', sans-serif; */

@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/fonts/icomoon.eot?ibn7aq');
    src:  url('../icomoon/fonts/icomoon.eot?ibn7aq#iefix') format('embedded-opentype'),
      url('../icomoon/fonts/icomoon.ttf?ibn7aq') format('truetype'),
      url('../icomoon/fonts/icomoon.woff?ibn7aq') format('woff'),
      url('../icomoon/fonts/icomoon.svg?ibn7aq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
  }
  .icon-fire:before {
    content: "\e9a9";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-mail:before {
    content: "\ea86";
  }
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  





body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #515157;
}

.body-container {
  font-family: 'Lato', sans-serif;
display: grid;
grid-template-columns: 1fr;
max-width: 1300px;
margin: auto;
grid-template-areas: "header"
                      "principal";
background-color: white;

}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 150px 1fr minmax(auto, 200px) 100px;
  grid-template-areas: "logo-header buscador platzi logo-ale";
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
  align-items: center;

}



.logo-header {
    max-width: 150px;
    grid-area: logo-header;
}

.buscador {
  grid-area: buscador;
  margin: 30px;
  max-width: 600px;
}

.platzi{
  grid-area: platzi;
  justify-self: right;
  padding: 10px;
}

.logo-ale {
    max-width: 80px;
    border-radius: 50%;
    margin: auto;

  grid-area: logo-ale;

}



.principal {
grid-area: principal;
display: grid;
grid-template-columns: 120px 1fr;
grid-template-areas: "navegacion peliculas";

}

.navegacion {
  font-family: 'Lato', sans-serif;
  grid-area: navegacion;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: center;
   /* background-color: #0a5d00; */
background-image: -webkit-linear-gradient(black, #0a5d00);

   color: white;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1) ;
}

.icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
 
 
}
.icon-container p {
  font-family: 'Lato', sans-serif;
}

.icon{
  font-size: 50px;
}


.peliculas {
  grid-area: peliculas;
  display: grid;
  grid-template-columns: 1fr;
 
  justify-content: center;
  gap: 10px;
  grid-template-rows: repeat(6, 50px 200px);
  grid-template-areas: "titulo-grupo1"
                        "grupo-pelis";
  
}

.titulo-grupo1 {
  grid-area: titulo-grupo1;
  padding-left: 100px;
}

.grupo-pelis{
  grid-area: grupo-pelis;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 10px;

}

.peli{
  /* grid-area: pelis; */
  position: relative;
  width: 300px;
  height: 200px;
  display: block; /*paar que traslade el tamaño a la imagen que contiene*/
  
}

.peli-imagen { 
  margin: 0;
 width: 100%;
 height: 100%;
 
  

}

.peli-imagen img {
  width: 100%;
  height: 100%;
 object-fit: cover;
  vertical-align: top;  /*borra el borde en blanco que aparece abajo de la imagen*/
}

.peli-overlay {
  background-color: rgba(10,93,0, .6) ;
position: absolute;
top: 70%;
right: 0;
bottom: 0;
left: 0;
display: block;
text-align: center;
justify-content: center;
color:  white;
align-items: flex-end;
}

.peli:hover .peli-overlay {
  display: block;
  position: absolute;
top: 0;
}

.peli-title {
  display: block;
}

.peli-description {
  display: none;
}

.peli:hover .peli-description {
  display: block;
}